<form class="card" [formGroup]="logInForm" (ngSubmit)="submit()">
  <div id="title"><p>Enter the authorization data</p></div>

  <div class="alert-danger" *ngIf="errorMessage$ | ngrxPush as error">{{error}}</div>

  <div class="alert-info" *ngIf="message">{{message}}</div>

  <div
    [ngClass]="{ invalid: logInForm.get('email')?.touched && logInForm.get('email')?.invalid }"
    class="form-control">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input class="text_Input" matInput placeholder="pat@example.com" type="email" formControlName="email" required>
      <mat-error class="error" *ngIf="logInForm.get('email')?.touched && logInForm.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div
    [ngClass]="{invalid: logInForm.get('password')?.touched && logInForm.get('password')?.invalid}"
    class="form-control">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input class="text_Input" matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="logInForm.get('password')?.touched && logInForm.get('password')?.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="btn_block">
    <button type="submit" class="btn" [disabled]="logInForm.invalid">Log in</button>
    <button class="btn" [routerLink]="['/auth', 'signup']">Sign up</button>
  </div>

</form>
