<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Form builder App</a>
  </h1>
  <ul>
    <li routerLinkActive="active"><a class="form_builder" [routerLink]="['/formbuilder']"> Form builder</a></li>
    <li><a class="sign_up" *ngIf="!(isAuthenticated$ | ngrxPush)" [routerLink]="['/auth', 'signup']">Sign up</a></li>
    <li><a class="log_in" *ngIf="!(isAuthenticated$ | ngrxPush)" [routerLink]="['/auth', 'login']">Login</a></li>
    <li><a class="log_out" *ngIf="isAuthenticated$ | ngrxPush" (click)="logout($event)">Logout</a></li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

