<form class="card" [formGroup]="signUpForm" (ngSubmit)="submit()">
  <div id="title"><p>Enter the registration data</p></div>

  <div class="alert-danger" *ngIf="errorMessage$ | ngrxPush as error">{{error}}</div>

  <div
    [ngClass]="{invalid: signUpForm.get('email')?.touched && signUpForm.get('email').invalid}"
    class="form-control">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input class="text_Input" matInput placeholder="pat@example.com" type="email" formControlName="email" required>
      <mat-error class="error" *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div
    [ngClass]="{invalid: signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid}"
    class="form-control" >
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input class="text_Input" matInput type="password" formControlName="password">
      <mat-error *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div
    [ngClass]="{invalid: signUpForm.get('repeatPassword')?.touched && signUpForm.get('repeatPassword')?.invalid}"
    class="form-control">
    <mat-form-field appearance="fill">
      <mat-label>Repeat password</mat-label>
      <input class="text_Input" matInput type="password" formControlName="repeatPassword">
      <mat-error *ngIf="signUpForm.get('repeatPassword')?.touched && signUpForm.get('repeatPassword')?.invalid">{{getRepeatPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="btn_block">
    <button class="btn" routerLink="/">Back</button>
    <button class="btn" type="submit" [disabled]="signUpForm.invalid" >Sign up</button>
  </div>

</form>
