@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
}

a {
  color: var(--dark-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.btn {
  display: inline-block;
  background: #333333;
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  min-width: 1100px;
  width: 100%;
  opacity: .9;
  margin-bottom: 1px solid var(--dark-color);
  background-color: rgba(207, 144, 244, 0.8);

  &.main {
    justify-content: center;
    border-bottom: 1px solid var(--dark-color);
  }

  ul {
    display: flex;
  }

  li {
    display: inline-block;
  }

  li.active a {
    color: var(--dark-color);
    font-weight: bold;
    cursor: default;
  }

  a {
    color: #ffffff;
    padding: .45rem;
  }

  &:hover {
    color: var(--light-color);
  }
}

.card {
  padding: 1rem;
  border: #ccc 2px dotted;
  margin: 0.7rem 0;
}

.form-control {
  display: block;
  color: #888;
  margin-bottom: .8rem;

  &.invalid {
    color: var(--primary-color);

    input {
      border-color: var(--primary-color);
    }
  }

  .validation {
    color: var(--primary-color);
  }
}

